@import '../../global.scss';
.Topbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: whitesmoke;
  color: $maincoloer;
  transition: all 1s ease;

  .wraper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        color: inherit;
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
      }
    }
    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button {
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 45px;
        padding: 5px 23px;
        border: none;
        background-color: $button;
        color: whitesmoke;
      }
      .humburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;

        cursor: pointer;
        span {
          width: 100%;
          height: 2px;
          background-color: $maincoloer;
          transform-origin: left;
          transition: all 1s ease;
          &:nth-child(2) {
            width: 75%;
          }
        }
      }
    }
  }
  &.active {
    background-color: $maincoloer;
    color: whitesmoke;
    .humburger {
      span {
        &:first-child {
          background-color: whitesmoke;
          transform: rotate(45deg);
        }
        &:last-child {
          background-color: whitesmoke;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
}
